<!DOCTYPE html>
<head>
    <%- include('head.ejs'); %>
</head>
<body>
    <form action="/login" method="post">
        <p>
            <label> Email: </label> <input type="email" name="email">
        </p>
        <p>
            <label> Password: </label> <input type="password" name="password">
        </p>
        <p>
            <input type="submit" value="Log in">
        </p>
    </form>
    <a href="/register">Don't ahve an account? Register</a>
</body>